{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [
  {extras, [
    {"README.md", #{title => "Overview"}},
    {"NEWS.md", #{title => "Changelog"}},
    {"LICENSE", #{title => "License"}}
  ]},
  {main, "README.md"},
  {homepage_url, "https://gitlab.com/barrel-db/hlc"},
  {source_url, "https://gitlab.com/barrel-db/hlc"},
  {api_reference, true}
]}.

{hex, [{doc, ex_doc}]}.
